#loginw {
  position: absolute;
  z-index: 1000;
  background:url("../images/papirus-horizontal.png") no-repeat;
  width: 400px;
  height: 267px;
  top:200px;
  left: 500px;

} 

#userdiv {
	position: absolute;
	top: 	30px;
	left: 	60px;
}

