.login {
  color: #900;
  background: #ecd070;
  font-weight: bold;
  border: 1px solid #900;
}

.login:hover {
    color: #FFF;
    background: #900;
}

#loginw {
  position: absolute;
  z-index: 1000;
  background:url("../images/papirus-horizontal.png") no-repeat;
  width: 400px;
  height: 267px;
  top:200px;
  left: 500px;

} 

#userdiv {
	position: absolute;
	top: 	30px;
	left: 	60px;
}

