.playerstats{
	position:	absolute;
	top: 		20px;
	left:		30px;
}

#pname{
	font-weight: bold;
	font-size: 16px;
}

#plife{
	font-size: 14px;
	font-weight: bold;
	color: red;
}

#pspirit{
	font-size: 14px;
	font-weight: bold;
	color: blue;
}

.playertext{
	font-size: 14px;
}

.navbarDiv{
	display: inline-block;
}

#goldDiv{
	width: 50px;
	float: right;
}

#silverDiv{
	width: 50px;
	float:right;
}

#goldImage{
	width: 40%;
}

#silverImage{
	width: 40%;
}

.navbuttons {
  color: #900;
  background: #ecd070;
  font-weight: bold;
  border: 1px solid #900;
  float: right;
}

.navbuttons:hover {
    color: #FFF;
    background: #900;
}

#playerbar {
	height: 25px;
}
