#village1{
  top: 10px;
  left: 10px;
  }
#village2{
  top: 30px;
  left: 30px;
}

#map {
  margin-left: 0;
  background:url('../images/background.jpg') no-repeat;
  position: relative;
  width: 1306px;
  height: 738px;
}
.village {
  background:url('../images/village.png') no-repeat;
  position: absolute;
  width: 128px;
  height: 128px;  
}

#popup {
  position: absolute;
  z-index: 1000;
  background:url("../images/papirus.png") no-repeat;
  width: 267px;
  height: 400px;
  top:200px;
  left: 700px;

}

#closeP {
  position: relative;
  top: 350px;
  left: 110px;
}

#Info {
  position: absolute;
  top: 80px;
  left: 50px;
}

