#body {
  background: #ecd070;
  background:url('../images/background-papirus.jpg');
  width: 1600px;
  margin: 0px;
}

.bar {
  background: #d0a81f;
  width: 100%;
}

#centerElem{
  position: relative;
  width: 100%;
}
#map {
  background:url('../images/mainbackground.png') no-repeat;
  background-size: 100% 100%;
  position: absolute;
  width: 81.5%;
  height: 738px;
}
#scroll {
  background:url("../images/scroll-left.png") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  width: 300px;
  height: 738px;
  right: 0px;
}
#scrolltext{
  position: absolute;
  top: 30px;
  left: 30px;
}
.village {
  background:url('../images/village.png') no-repeat;
  position: absolute;
  width: 128px;
  height: 128px;  
}

#popup {
  position: absolute;
  z-index: 1000;
  background:url("../images/papirus.png") no-repeat;
  width: 267px;
  height: 400px;
  top:200px;
  left: 700px;

}

#closeP {
  position: relative;
  top: 350px;
  left: 110px;
}

#Info {
  position: absolute;
  top: 80px;
  left: 50px;
}


.register {
  color: #900;
  background: #ecd070;
  font-weight: bold;
  border:1px solid #900;
}

.register:hover {
    color: #FFF;
    background: #900;
}

.error{
  color: red;
}